body {
    margin: 0;
}

/*task 1*/
#container_t1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #aeaeae;
    border-radius: 10px;
    padding: 1%;
}
.block1 {
    display: flex;
    background: #d9d9d9;
    justify-content: center;
}

.block1>h3 {
    display: flex;
    text-align: center;
    align-items: center;
}

#block_a {
    width: 100%;
    height: 100px;
    margin-bottom: 1%;
}

#block_b {
    width: 66%;
    height: 200px;
}
#block_c {
    width: 33%;
    height: 200px;
}

@media screen and (max-width: 840px){
    #block_b {
        width: 100%;
        height: 300px;
        margin-bottom: 1%;
    }
    #block_c {
        width: 100%;
        height: 100px;
    }
}
/*task 2*/
#container_t2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #aeaeae;
    border-radius: 10px;
    padding: 1%;
}
.block21 {
    display: flex;
    background: #d9d9d9;
    justify-content: center;
}

.block21 h2 {
    display: flex;
    text-align: center;
    align-items: center;
}

#block_2a {
    width: 100%;
    height: 200px;
    margin-bottom: 1%;
}

#container_t22 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 74.5%;
    height: 400px;
}
#block_2b {
    width: 100%;
    height: 195px;
}

.block_2c-e {
    width: 32.5%;
    height: 195px;
}

#block_2f {
    width: 24.5%;
    height: 400px;
}
@media screen and (max-width: 840px)    {
    #block_2a {
        height: 100px;
    }
    #container_t22 {
        width: 100%;
        height: 310px;
        margin-bottom: 1%;
    }
    #block_2b {
        height: 200px;
    }
    .block_2c-e {
        height: 100px;
    }
    #block_2f {
        height: 100px;
        width: 100%;
    }
}


/*task 3*/
#container_t3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #aeaeae;
    border-radius: 10px;
    padding: 1%;
}
.block31 {
    display: flex;
    background: #d9d9d9;
    justify-content: center;
}

.block31 h2 {
    display: flex;
    text-align: center;
    align-items: center;
}

#block_3a {
    width: 100%;
    height: 200px;
    margin-bottom: 1%;
}

#container_t32 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 74.5%;
    height: 400px;
}

.block_3b-g {
    width: 32.5%;
    height: 195px;
}

#block_3h {
    width: 24.5%;
    height: 400px;
}
@media screen and (max-width: 840px) {
    #container_t32 {
        width: 100%;
        height: 410px;
        margin-bottom: 1%;
    }

    #container_t32:nth-child(1), #container_t32:nth-child(2), #container_t32:nth-child(3) {
        margin-bottom: 1%;
    }
    .block_3b-g {
        height: 200px;
    }
    #block_3h {
        width: 100%;
    }

}
/*task 4*/
#main-container_t4 {
    width: 100%;
    border: 5px solid black;
    box-sizing: border-box;
}
#nav_t4 {
    align-self: stretch;
    /*column-gap: 10px;*/
}


.row_fl-st_al-it-st {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
}

/*.row_jc-sp-bt_al-it-cen {*/
/*    display: flex;*/
/*    box-sizing: border-box;*/
/*    justify-content: space-between;*/
/*}*/
.row_jc-sp-bt_al-con-sp-bt {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: space-between;
    /*align-self: stretch;*/
    /*padding: 20px;*/
}
.row_jc-sp-bt_al-it-cen {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    /*padding: 20px;*/
}
.row_jc-cen {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.br5_black {
    border: 5px solid black;
}
.br-top-5 {
    border-top: 5px solid black;
}
.br-r-5 {
    border-right: 5px solid black;
}

.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}
/*#container_t4 {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
.w50 {
    width: 50px;
}
.w18per {
    width: 18%;
}
.w19per {
    width: 19%;
}
.w23per {
    width: 23%;
}
.w25per {
    /*width: calc(100% - 74%);*/
    width: 25%;
}
.w48per {
    width: 48%;
}

.w75per {
    width: 75%;
}
.w80per {
    width: calc(100% - 19% - 5px);
}

.w100per {
    width: 100%;
}
.w220 {
    width: 220px;
}
.w245 {
    width: 245px;
}
.w950 {
    width: 950px;
}
.w990 {
    width: 990px;
}.w1245 {
     width: 1245px;
 }

.h20 {
    height: 20px;
}
.h30 {
    height: 30px;
}
.h50 {
    height: 50px;
}
.h70 {
    height: 70px;
}
.h100 {
    height: 100px;
}
.h150 {
    height: 150px;
}
.h250 {
    height: 250px;
}
.bg_grey_t4 {
    background: #e7e7e8;
}
.bg_white_t4 {
    background: white;
}

@media screen and (max-width: 840px) {
    #nav_t4 {
        display: none;
    }
    #container_t42 {
        width: 100%;
    }
    #main_t4>div {
        height: 150px;
    }

    .block44a, .block44b {
        width: 48%;
        height: 100px;
    }
    .block44a {
        margin-bottom: 20px;
    }
    #container_t45 {
        width: 100%;
        border-right: none;
    }
    .block45_b {
        display: none;
    }
    #container_t46 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #container_t46_small {
        width: 48%;
    }
    .block46_a {
        width: 100%;
        height: 50px;
    }
    .block46_b {
        width: 48%;
        height: 170px;
    }
    .footer_t4_child2 {
        width: 40%;
    }
}
@media screen and (max-width: 600px) {
    .header_t4 {
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        height: 90px;
    }

    .header_t4 div:nth-child(1) {
        width: 20%;
    }
    .header_t4 div:nth-child(2) {
        width: 100%;
    }

    #nav_t4 {
        display: none;
    }
    #container_t42 {
        width: 100%;
    }
    #main_t4>div {
        height: 100px;
    }

    .block44a, .block44b {
        width: 48%;
        height: 100px;
    }
    .block44a {
        margin-bottom: 20px;
    }
    #container_t45 {
        width: 100%;
        border-right: none;
    }
    .block45_a {
        width: 100%;
        height: 50px;
    }
    .block45_b, .block45_a-6 {
        display: none;
    }
    #container_t46 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #container_t46_small {
        width: 100%;
    }
    .block46_a {
        width: 100%;
        height: 50px;
    }
    .block46_b {
        width: 100%;
        height: 170px;
    }
    .footer_t4_child2 {
        width: 40%;
    }
}






