.row_jc-st {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.row_jc-sp-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.row_jc-sp-b_al-co-sp-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
}

.row_jc-cen_al-i-cen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.row_col-st {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     box-sizing: border-box;
 }

.w130 {
    width: 130px;
}

.w350 {
    width: 350px;
}

.w480 {
    width: 480px;
}

.w700 {
    width: 700px;
}

.w74per {
width: 74%;
}

.w25per {
     width: 25%;
 }
.w33per {
    width: 32.5%;
}
.w50per {
    width: 49.5%;
}
.w66per {
    width: 63.5%;
}

.w100per {
    width: 100%;
}

.h30 {
    height: 30px;
}

.h100 {
    height: 100px;
}

.h130 {
    height: 130px;
}

.h200 {
    height: 200px;
}

.h400 {
    height: 400px;
}

.h47per {
    height: 47.5%;
}
.h100per {
    height: 100%;
}

.br5-grey {
    border: 5px solid #c5c5c5;
}
.br3-black {
    border: 3px solid black;
}

.br-rad10 {
     border-radius: 10px;
 }

.p-1per {
    padding: 1%;
}

.p5 {
    padding: 5px;
}

.p50-20 {
    padding: 50px 20px;
}

.m10 {
    margin: 10px;
}
.m5-0 {
    margin: 5px 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-1per {
    margin-bottom: 1%;
}
.m-b-1_5per {
    margin-bottom: 1.5%;
}

.m-l-1per {
    margin-left: 1%;
}

.bg-widgets-blue {
    background: #2269bb;
}
.bg-widgets-darkblue {
    background: #16457a;
}

#container_widgets h2, #container_widgets h3 {
    color: white;
}
#container_kabobs h2, #container_kabobs h3 {
    color: white;
    font-weight: 200;
}
.bg-grey_base {
    background: #d8d8d8;
}
.bg-web-base-blue {
    background: #06bcd4;
}

.bg-web-base-white {
    background: #fefefe;
}

.bg-t7-baige {
    background: #e6f7b0;
}
.bg-t7-Lilac {
    background: #ffb7ff;
}

.bg-t7-blue {
    background: #9fe2ff;
}

#container_web h2 {
    color: #ffb44a;
}

#container_web h4 {
    color: #9c98aa;
}

#container_web i {
    font-size: 50px;
    color: #9c98aa;
}
