.fl-row-wrap {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.fl-jc-sp-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.fl-jc-sp-ar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.fl-jc-sp-ar_al-i-cen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.fl-jc-sp-b_al-co-sp-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
}


.fl-jc-cen_al-i-cen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.fl-col-st {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     box-sizing: border-box;
 }
.fl-col_js-end_al-i-cen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.js-end {
    justify-content: flex-end;
}

.al-i-cen {
    align-items: center;
}

.al-c-cen {
    align-content: center;
}


/*.jc-sp-b {*/
/*    justify-content: space-between;*/
/*}*/
.w30 {
    width: 30px;
}

.w70 {
    width: 70px;
}

.w100 {
    width: 100px;
}
.w130 {
    width: 130px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w250 {
     width: 250px;
 }
.w300 {
    width: 300px;
}
.w320 {
    width: 320px;
}
.w350 {
    width: 350px;
}
/*.w350 {*/
/*    width: 350px;*/
/*}*/
.w400 {
    width: 400px;
}

.w480 {
    width: 480px;
}
.w500 {
    width: 500px;
}
.w680 {
    width: 680px;
}
.w700 {
    width: 700px;
}

.w940 {
    width: 940px;
}

.w74per {
width: 74%;
}

.w25per {
     width: 25%;
 }
.w33per {
    width: 32.5%;
}
.w50per {
    width: 49.5%;
}
.w66per {
    width: 63.5%;
}
.w100per {
    width: 100%;
}
.h10 {
    height: 10px;
}
.h20 {
    height: 20px;
}
.h30 {
    height: 30px;
}
.h40 {
    height: 40px;
}
.h50 {
    height: 50px;
}
.h70 {
    height: 70px;
}
.h90 {
    height: 90px;
}
.h100 {
    height: 100px;
}

.h130 {
    height: 130px;
}
.h150 {
    height: 150px;
}
.h200 {
    height: 200px;
}
.h250 {
    height: 250px;
}
.h300 {
    height: 300px;
}
.h400 {
    height: 400px;
}
.h500 {
    height: 500px;
}
/*.h800 {*/
/*    height: 800px;*/
/*}*/
.h47per {
    height: 47.5%;
}
.h100per {
    height: 100%;
}

.br5-grey {
    border: 5px solid #c5c5c5;
}
.br3-black {
    border: 3px solid black;
}
.br-bot3-grey {
    border-bottom: 5px solid #c5c5c5;
}
.br-rad10 {
     border-radius: 10px;
 }
.br-rad35 {
    border-radius: 35px;
}
.br-rad45 {
    border-radius: 50px;
}
.br-rad-circle {
    border-radius: 50%;
}



.p-1per {
    padding: 1%;
}

.p5 {
    padding: 5px;
}

.p-bot-5 {
    padding-bottom: 5px;
}
.p-top-5 {
    padding-top: 5px;
}

.p50-20 {
    padding: 50px 20px;
}
.p50-0-70 {
    padding: 50px 0 70px;
}
.p0-20 {
    padding: 0 20px;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m5-0 {
    margin: 5px 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-1per {
    margin-bottom: 1%;
}
.m-b-1_5per {
    margin-bottom: 1.5%;
}

.m-l-1per {
    margin-left: 1%;
}
.m-l-30 {
    margin-left: 30px;
}
.bg-widgets-blue {
    background: #2269bb;
}
.bg-widgets-darkblue {
    background: #16457a;
}

#container_widgets h2, #container_widgets h3 {
    color: white;
}
#container_kabobs h2, #container_kabobs h3 {
    color: white;
    font-weight: 200;
}
.bg-grey_base {
    background: #d8d8d8;
}
.bg-grey-2 {
    background: #cfcccc;
}
.bg-grey-3 {
     background: #c3c8cc;
 }

.bg-darkgrey {
    background: #adb2b8;
}
.bg-web-base-blue {
    background: #06bcd4;
}

.bg-web-base-white {
    background: #fefefe;
}

.bg-t7-baige {
    background: #e6f7b0;
}
.bg-t7-Lilac {
    background: #ffb7ff;
}

.bg-t7-blue {
    background: #9fe2ff;
}

.bg-red {
    background: red;
}

.bg_yel {
    background: #deca35;
}

.bg-green {
    background: #7ba143;
}

#container_web h2 {
    color: #ffb44a;
}

#container_web h4 {
    color: #9c98aa;
}

#container_web i {
    font-size: 50px;
    color: #9c98aa;
}

.pos-rel {
    position: relative;
}

.right150 {
    right: 150px;
}
